#N
$162
n_valid
n_kind.*
n_d0.*
n_d1.*
n_ready
$2
$162
#S
$162
s_valid
s_kind.*
s_d0.*
s_d1.*
s_ready
clk
rst
$162
#W
$158
w_valid
w_p0.*
w_p1.*
w_ready
$158
#E
$158
e_valid
e_p0.*
e_p1.*
e_ready
$158
